.settings {
    * {
        border-radius: 0;
    }
}

.settings-header {
    background-color: $secondary;
    color: findColorInvert($secondary);

    p {
        color: findColorInvert($secondary);
    }
}

.settings-body {

    .buttons {

        .button {
            flex: 1 1 auto;

            &.is-selected {
                background-color: $secondary;
                color: findColorInvert($secondary);
            }
        }
    }
}

.settings-footer {
    display: flex;
    justify-content: space-between;
}
