.settings {
    * {
        border-radius: 0;
    }
}

.settings-body {
    * {
        border-radius: 0;
    }

    .buttons {

        .button {
            flex: 1 1 auto;

            &.is-selected {
                background-color: $secondary;
                color: findColorInvert($secondary)
            }
        }
    }
}

.settings-footer {
    display: flex;
    justify-content: space-between;
}
