.settings {
    * {
        border-radius: 0;
    }
}

.settings-header {
    background-color: $secondary;
    color: findColorInvert($secondary);

    h2 {
        color: findColorInvert($secondary);
    }
}

.settings-body {

    &__cards,
    &__time {

        &--title {
            margin-bottom: 8px;
        }

        &--buttons {

            .button {
                flex: 1 1 auto;

                &.is-selected {
                    background-color: $secondary;
                    color: findColorInvert($secondary);
                }
            }
        }
    }

    &__cards {
        margin-bottom: 20px;
    }
}

.settings-footer {
    display: flex;
    justify-content: space-between;
}
